*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#8aa1ac;
    color:#fff;
    padding:40px;
}

.topo h1{
    font-size:28px;
    font-weight:bold;
    margin-bottom:30px;
}

.container{
    background:#fff;
    color:#000;
    max-width:500px;
    margin:auto;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

.form-box p{
    margin-bottom:15px;
    font-size:16px;
}

input, select{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    margin-top:5px;
    font-size:15px;
}

input:focus, select:focus{
    outline:none;
    border-color:#0A66FF;
}

.buttons{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.btn{
    padding:10px 15px;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
    transition:.3s;
    display:inline-block;
    text-align:center;
}

.salvar{
    background:#02a65c;
    border:none;
}

.voltar{
    background:#0A66FF;
}

.btn:hover{
    opacity:.8;
}
